[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
nominatim = "*"
flask-wtf = "*"
geopy = "*"
python-dotenv = "*"
flask-babel = "*"
requests = "*"
gunicorn = "*"
pytz = "*"

[dev-packages]
pytest = "*"

[requires]
python_version = "3.7"
