<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="Weather Report based off Geolocation">
    <meta name="author" content="brandon_wallace">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/favicon.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/weather-icons.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Your Weather</title>

  </head>

  <body>

    <noscript>
      <p style="color:#FC0000;text-align:center">Please enable Javascript</p>
    </noscript>

    <div class="container">

      {% block body %}

      {% endblock %}

    </div>

  </body>

</html>
