{# application/templates/index.html #}

{% extends 'base.html' %}

{% block body %}

  <main>

    <header>

      <div class="header__title">

        <h1 class="header__text">YOUR WEATHER</h1>

      </div>
    
      <form action="{{ url_for('get_local_weather') }}" method="POST">

        {{ form.csrf_token }}
        {{ form.address(class_='form__address', placeholder='Enter Location') }}
        {{ form.submit(class_='form__btn') }}

      </form>

    </header>

  </main>

  <footer>

    <div class="links">

      <p class="link__item">Powered by: <a href="https://darksky.net/poweredby/">darksky.net</a></p>
      <p class="link__item">Created by: <a href="https://github.com/brandon-wallace">brandon_wallace</a></p>

    </div>

  </footer>

{% endblock %}
