{# application/templates/index.html #}

{% extends 'base.html' %}

{% block body %}

  <main>

  <header>

    <div class="header__title">

      <h1 class="header__text">YOUR WEATHER</h1>

    </div>
  
    <form action="{{ url_for('get_local_weather') }}" method="POST">
  
      {{ form.csrf_token }}
      {{ form.address(class_='form__address', placeholder='Enter Location') }}
      {{ form.submit(class_='form__btn') }}
  
    </form>

  </header>
  
  <table class="today">

    <tbody>
      <tr>
        <td class="today__text">{{ date_time if date_time }}</td>
      </tr>
    </tbody>

  </table>

  <section class="conditions">

    <h4 class="conditions__text">Current Conditions:</h4>

    <table class="conditions__table">

    <thead>
      <tr>
        <th>Temperature</th>
        <th>Forecast</th>
        <th>Low</th>
        <th>High</th>
        <th>Sunrise</th>
        <th>Sunset</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td>{{ '{:.2f}F°/{:.1f}C°'.format(current_temp, current_temp_c) if current_temp }}</td>
        <td>{{ current_forecast if current_forecast }}</td>
        <td>{{ '{:.2f}F°/{:.1f}C°'.format(current_low, current_low_c) if current_low }}</td>
        <td>{{ '{:.2f}F°/{:.1f}C°'.format(current_high, current_high_c) if current_high }}</td>
        <td>{{ sunrise if sunrise }}</td>
        <td>{{ sunset if sunset }}</td>
      </tr>
    </tbody>

    </table>
  
  <h4>Hourly:</h4>

    <table class="hourly-table">

      <thead>

        <tr>
          <th>Hour</th>
          <th>Temperature</th>
          <th>Forecast</th>
          <th class="hidden">Humidity</th>
          <th class="hidden">Wind_MPH</th>
          <th class="hidden">UV_Index</th>
          <th class="hidden">Ozone</th>
          <th class="hidden">Visibility</th>
          <th class="hidden">Pressure</th>
        </tr>

      </thead>

      <tbody>

        {% for num in range(12) %}
          <tr>
            <td>{{ '{}h'.format(hours[num]) if hours }}</td>
            <td>{{ '{:.2f}F°/{:.1f}C°'.format(temps[num], temps_celcius[num]) if temps }}</td>
            <td>{{ forecast[num] if forecast }}</td>
            <td class="hidden">{{ humidity[num] if humidity }}</td>
            <td class="hidden">{{ '{:.2f}'.format(wind_speed[num]) if wind_speed }}</td>
            <td class="hidden">{{ uv_index[num] if uv_index }}</td>
            <td class="hidden">{{ '{:.1f}'.format(ozone[num]) if ozone }}</td>
            <td class="hidden">{{ pressure[num] if pressure }}</td>
            <td class="hidden">{{ visibility[num] if visibility }}</td>
          </tr>
        {% endfor %}

      </tbody>

    </table>

    <h4>Daily:</h4>

    <table class="daily-table">

      <thead>
        <tr>
          <th>Date</th>
          <th>High/Low</th>
        </tr>
      </thead>

      <tbody>
        {% for i in range(7) %}
          <tr>
            <td>{{ daily_datetime[i] if daily_datetime }}</td>
            <td>{{ '{:.2f}/{:.2f}'.format(daily_high[i], daily_low[i]) if daily_high }}</td>
          </tr>
        {% endfor %}
      </tbody>

    </table>

    <h4>Location:</h4>

    <table class="location-table">

      <tr>
        <td>Timezone: {{ timezone if timezone }}</td>
      </tr>

      <tr>
        <td>Location: {{ local_address if local_address }}</td>
      </tr>

      <tr>
        <td>Latitude: {{ lat if lat }}</td>
      </tr>

      <tr>
        <td>Longitude: {{ lon if lon }}</td>
      </tr>

    </table>

  </section>

  </main>

  <footer>

    <div class="links">

      <p class="link__item">Powered by: <a href="https://darksky.net/poweredby/">darksky.net</a></p>
      <p class="link__item">Created by: <a href="https://github.com/brandon-wallace">brandon_wallace</a></p>

    </div>

  </footer>

{% endblock %}
