{# application/templates/weather.html #}

{% extends 'base.html' %}

{% block body %}


  <header>

    <div class="header__title">

      <h1 class="header__text">YOUR WEATHER</h1>

    </div>
  
  </header>
  
  <main>

    <div class="tile">

      <p class="tile__temperature"><span class="tile__digits">{{ '{:.1f}'.format(current_temp) if current_temp }}</span><span class="tile__temp-units">F°</span></p>
      <span class="tile__icon"><i class="wi wi-owm-{{ icon_id if icon_id }}"></i></span>
      <span class="tile__forecast">{{ current_forecast if current_forecast }}</span>
      <span class="tile__temp-low">{{ 'low: {:.1f}F°'.format(current_low) if current_low }} {{ 'high: {:.1f}F°'.format(current_high) if current_high }}</span>
      <span class="tile__location">{{ '{}'.format(local_address) if local_address }}</span>

    </div>

    <form action="{{ url_for('weather_report') }}" method="POST">
  
      {{ form.csrf_token }}
      {{ form.address(class_='form__address', placeholder='Enter Location') }}
      {{ form.submit(class_='form__btn') }}
  
    </form>

    <p class="message">{{ message if message }}</p>

    <div class="today">

      <p class="today__text"></p>

    </div>


  <section class="conditions">

    <table class="hourly-table">

      <thead>

        <tr>
          <th style="width:70px">Hourly</th>
          <th style="width:70px">Temp</th>
          <th>Forecast</th>
          <th class="hidden">Humidity</th>
          <th class="hidden">Wind_MPH</th>
          <th class="hidden">Visibility</th>
          <th class="hidden">Pressure</th>
        </tr>

      </thead>

      <tbody>

        {% for num in range(12) %}

          <tr>
            <td>{{ '{}h'.format(hours[num]) if hours }}</td>
            <td>{{ '{:.1f}F°'.format(temps[num]) if temps }}</td>
            <td>{{ forecast[num] if forecast }}</td>
            <td class="hidden">{{ humidity[num] if humidity }}</td>
            <td class="hidden">{{ '{:.2f}'.format(wind_speed[num]) if wind_speed }}</td>
            <td class="hidden">{{ pressure[num] if pressure }}</td>
            <td class="hidden">{{ visibility[num] if visibility }}</td>
          </tr>

        {% endfor %}

      </tbody>

    </table>

    <table class="daily-table">

      <thead>

        <tr>
          <th style="width:125px">Daily</th>
          <th>High/Low</th>
        </tr>

      </thead>

      <tbody>

        {% for i in range(7) %}

          <tr>
            <td>{{ daily_datetime[i] if daily_datetime }}</td>
            <td>{{ '{:.1f}F°/{:.1f}F°'.format(daily_high[i], daily_low[i]) if daily_high }}</td>
          </tr>

        {% endfor %}

      </tbody>

    </table>

    <table class="location-table">

      <tr>
        <td>Timezone: {{ timezone if timezone }}</td>
      </tr>

      <tr>
        <td>Latitude: {{ latitude if latitude }}</td>
      </tr>

      <tr>
        <td>Longitude: {{ longitude if longitude }}</td>
      </tr>

    </table>

  </section>

  </main>

  <footer>

    <div class="links">

      <p class="link__item">powered by: <a href="https://openweathermap.org/" target="_blank">openweather api</a></p>
      <p class="link__item">created by: <a href="https://brandonwallace.cc/" target="_blank">brandon_wallace</a></p>

    </div>

  </footer>

  <script src="{{ url_for('static', filename='js/script.js') }}"></script>

{% endblock %}
