@font-face {
  font-family: 'Hack-Regular';
  src: url('../fonts/Hack-Regular.ttf') format('truetype');
}

:root {
    --blue: #66B3FF;
    --white: #FFFFFF;
    --soft-blue: #80D4FF;
    --dark-blue: #001A33;
    --softer-blue: #BED9FF;
    --medium-blue: #0066CC;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    color: #001A33;
    color: var(--dark-blue, #001A33);
}

body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    font-family: 'Hack-Regular', monospace;
    background-color: #CCEEFF;
    background-color: var(--soft-blue, #CCEEFF);
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

main {
    width: 100%;
    padding: .5rem;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -ms-flex-item-align: start;
        align-self: flex-start;
}

header {
    margin: 0 .5rem;
}

.header__title {
    width: 100%;
    padding: .25rem;
    max-width: 400px;
    min-width: 295px;
    text-align: center;
    margin: 1rem 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    background-color: #BED9FF;
    background-color: var(--softer-blue, #BED9FF);
    border: 2px solid #0066CC;
    border: 2px solid var(--medium-blue, #0066CC);
}

.header__text {
    font-size: 2rem;
    letter-spacing: 2px;
}

.header__icons {
    margin: 0 auto 12px auto;
    max-width: 600px;
    text-align: center;
}

.fas,
.far {
    font-size: 2.5rem;
}

form {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 400px;
    margin-bottom: .5rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.form__address {
    height: 50px;
    width: 100%;
    max-width: 400px;
    font-size: 1rem;
    padding: 0 1rem;
    font-weight: bold;
    margin-bottom: 1rem;
    font-family: inherit;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border: 2px solid #0066CC;
    border: 2px solid var(--medium-blue, #0066CC);
}

.form__btn {
    height: 50px;
    padding: 0 1rem;
    font-weight: bold;
    letter-spacing: 3px;
    font-size: 1rem;
    font-family: inherit;
    text-transform: uppercase;
    color: #FFFFFF;
    color: var(--white, #FFFFFF);
    background-color: #001A33;
    background-color: var(--dark-blue, #001A33);
    border: 2px solid #0066CC;
    border: 2px solid var(--medium-blue, #0066CC);
}

.today {
    width: 100%;
    padding: .15rem;
    margin: 0 auto .5rem auto;
    max-width: 400px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    background-color: #BED9FF;
    background-color: var(--softer-blue, #BED9FF);
    border: 2px solid #0066CC;
    border: 2px solid var(--medium-blue, #0066CC);
}

.today__text {
    font-weight: bold;
    text-align: center;
    background-color: #BED9FF;
    background-color: var(--softer-blue, #BED9FF);
}

table {
    width: 100%;
    border-style: solid;
    margin-bottom: .5rem;
    border-collapse: collapse;
    background-color: #FFFFFF;
    background-color: var(--white, #FFFFFF);
    border: 2px solid #0066CC;
    border: 2px solid var(--dark-blue, #0066CC);
}

tr th,
tr td {
    padding: .15rem;
    text-align: left;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    color: #001A33;
    color: var(--dark-blue, #001A33);
    border: 2px solid #0066CC;
    border: 2px solid var(--medium-blue, #0066CC);
}

tr th {
    color: var(--white, #FFFFFF);
    background-color: #001A33;
    background-color: var(--dark-blue, #001A33);
    border: 2px solid #0066CC;
    border: 2px solid var(--medium-blue, #0066CC);
}

.conditions {
    width: 100%;
    max-width: 1200px;
}

.conditions__text {
    margin: 0 auto;
}

.conditions__table {
    width: 100%;
    border-style: solid;
    margin-bottom: .5rem;
    border-collapse: collapse;
    background-color: #FFFFFF;
    background-color: var(--white, #FFFFFF);
    border: 2px solid #0066CC;
    border: 2px solid var(--dark-blue, #0066CC);
}

.hourly-table tr:nth-child(even) {
    background-color: #BED9FF;
    background-color: var(--blue, #BED9FF);
}

.daily-table tr:nth-child(even) {
    background-color: #BED9FF;
    background-color: var(--softer-blue, #BED9FF);
}

.location-table tr {
    color: #001A33;
    color: var(--dark-blue, #001A33);
    background-color: #FFFFFF;
    background-color: var(--white, #FFFFFF);
    border: 2px solid #001A33;
    border: 2px solid var(--dark-blue, #001A33);
}

.links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.link__item {
    font-size: .8rem;
}

footer {
    padding: .5rem;
}

.message {
    color: #CC0000;
    text-align: center;
}

.hidden {
    display: none;
}

.dots {
    display: none;
}

.loading {
  width: 80px;
  margin: 4rem auto 0 auto;
}

.dot-1,
.dot-2,
.dot-3 {
  width: 18px;
  height: 18px;
  border-radius: 100%;
  display: inline-block;
  background-color: #001A33;
  background-color: var(--dark-blue, #001A33);
  animation: loading 1.4s infinite ease-in-out both;
}

.dot-1 {
  animation-delay: -0.32s;
}

.dot-2 {
  animation-delay: -0.16s;
}

@keyframes loading {
  0%, 80%, 100% { 
    transform: scale(0);
  } 30% { 
    transform: scale(1.0);
  }
}

@media only screen and (min-width: 400px) {
    .fas,
    .far {
        font-size: 3.5rem;
    }
    form, 
    .header__title {
        margin: 1rem auto 1rem auto;
    }
    table {
        width: 100%;
    }
    .conditions {
        margin: 0 auto;
    }
}

@media only screen and (min-width: 500px) {
    .links {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
    }
}

@media only screen and (min-width: 868px) {
    .hidden {
        display: table-cell;
    }
}
