:root {
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #DFDFDF;
    font-family: monospace, monospace;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

.header__title {
    width: 100%;
    padding: .25rem;
    max-width: 300px;
    margin-bottom: 1rem;
    box-sizing: border-box;
    border: 2px solid #666666;
}

.header__text {
    width: 100%;
    font-size: 1.25rem;
}

main {
    padding: .5rem;
    box-sizing: border-box;
    align-self: flex-start;
}

form {
    width: 100%;
    display: flex;
    max-width: 300px;
    margin-bottom: .5rem;
    flex-direction: column;
}

.form__address {
    height: 40px;
    width: 100%;
    max-width: 400px;
    font-size: 1rem;
    padding: 0 .5rem;
    font-weight: bold;
    margin-bottom: 1rem;
    box-sizing: border-box;
    border: 2px solid #666666;
}

.form__btn {
    height: 40px;
    color: #FFFFFF;
    padding: 0 1rem;
    font-weight: bold;
    letter-spacing: 2px;
    border: 2px solid #666666;
    text-transform: uppercase;
    background-color: #222222;
}

table {
    border-style: solid;
    margin-bottom: .5rem;
    border-collapse: collapse;
    border: 2px solid #666666;
    background-color: #EEEEEE;
}

tr th,
tr td {
    color: #212121;
    padding: .3rem;
    border: 2px solid #666666;
}

tr th {
    color: #FFFFFF;
    background-color: #232323;
    border: 2px solid #666666;
}

tr:nth-child(even) {
    background-color: #C0C0C0;
}

.today {
    width: 100%;
    max-width: 300px;
}

.today__text {
    font-weight: bold;
}


.links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.link__item {
    font-size: .8rem;
}

footer {
    padding: .5rem;
}
